includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
        - tests
    level: 7
    tmpDir: build/phpstan
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: true
    parallel:
        maximumNumberOfProcesses: 0
